$color-primary: #ffc700;
$color-secondary: #0e1c2a;

$color-white-100: #ffffff;
$color-white-200: #eeeeee;
$color-white-300: #dddddd;
$color-white-400: #cccccc;
$color-white-500: #bbbbbb;
$color-white-600: #aaaaaa;
$color-white-700: #999999;
$color-white-800: #888888;

$color-black-100: #777777;
$color-black-200: #666666;
$color-black-300: #555555;
$color-black-400: #444444;
$color-black-500: #333333;
$color-black-600: #222222;
$color-black-700: #111111;
$color-black-800: #000000;

$break-points: (
  "xs": 0,
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
  "xl": 1920px,
);

$box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.8);
