@import "styles/variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70%;
  max-width: 35rem;
}

.swap {
  text-align: center;
  margin-top: 0;
}
